@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* width */
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--b2);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--nf));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* hove */
  background: hsl(var(--nf));
}

/* Color Scheme:
color-scheme: light;: This sets the color scheme to "light" for the personalized theme.
Color Values:

--pf: Primary color for foreground elements.
--sf: Secondary color for foreground elements.
--af: Accent color for foreground elements.
--nf: Neutral color for foreground elements.
--b2: Background color level 2 (slightly lighter than primary background).
--b3: Background color level 3 (slightly lighter than secondary background).
--in: Input field color.
--su: Success color.
--wa: Warning color.
--er: Error color.
--bc: Border color.
--ac: Active color.
--nc: Neutral color (typically used for text).
--inc: Inverted input field color.
--suc: Inverted success color.
--wac: Inverted warning color.
--erc: Inverted error color.
Rounded Corners:

--rounded-box: The radius for rounded corners on boxes.
--rounded-btn: The radius for rounded corners on buttons.
--rounded-badge: The radius for rounded corners on badges.
Animations:

--animation-btn: The duration of button animations.
--animation-input: The duration of input animations.
Button Styling:

--btn-text-case: Text case transformation for button text (uppercase).
--btn-focus-scale: The scale value applied when buttons are focused (used for visual feedback).
--border-btn: The border width for buttons.
Tab Styling:

--tab-border: The border width for tabs.
--tab-radius: The radius for rounded corners on tabs.
Color Palette:

--p: Palette color.
--pc: Palette color contrast (a different shade or tone).
--s: Secondary palette color.
--sc: Secondary palette color contrast (a different shade or tone).
--a: Accent palette color.
--n: Neutral palette color.
--b1: Background color level 1 (primary background). */
